/*index principal*/

.vertical-menu {
  height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 5;
    left: 0;
    background-color: #400d12;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.vertical-menu a {
    
    text-decoration: none;
    font-size: 20px;
      background-color: #400d12;
    color: #cdffff;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.vertical-menu a:hover {
  background-color: #ff0000;
}


.active {
  background-color: #400d12;
  color: #94f1f1;
  font-size: 40px;
  text-align: center;
  margin: 0%;
  position: fixed;
  overflow: hidden;
  width: 100%;
  margin-top: 0px;
}
.active a{
  color: #94f1f1;
  text-decoration: none;
  display: block;
}
.contenedor{
  margin-left: 250px;
 padding-top: 45px;
 background-color: #d5fdfd;
 text-align: justify;
 width: 1103px;
 height: 100%;
}
.cuerpo{
  background-color: #d5fdfd;
}
.img{
  margin-left: 350px; 
  width: 400px;
  height: 400px;
}
.img-cuento{
  margin-left: 350px; 
  margin-top: 40px;
  width: 400px;
  height: 400px;
}
.scroll {
  margin: 30px;
     width:1050px;
     height:400px;
     overflow:scroll;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute right;
  background-color: #400d12;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #94f1f1;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {display: block;}
em{
  font-size: 20px;
  color: #ff0000;
  font-variant: small-caps;
}